body{
    margin: 0;
    background-color: #F8F4EF;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B572A;
    padding: 15px 40px;
}

h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    margin: 0;
}

.logo{
    width: 80px;
}

h1{
    flex: 1;
    text-align: center;
    color: white;
    margin: 0;
    font-size: 32px;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover{
    color: #F3D7B6;
}

.menu{
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px auto;
}

figure{
    width: 250px;
    height: 430px;
    background-color: white;
    border: 2px solid #C69C6D;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    transition: 0.3s;

    display: flex;
    flex-direction: column;
}
figcaption{
    display: flex;
    flex-direction: column;
    flex: 1;
}
figure:hover{
    transform: scale(1.05);
}

figure img{
    width: 180px;
    transition: 0.3s;
}

figure img:hover{
    transform: scale(1.15);
}

.nome{
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #8B572A;
}

.preco{
    margin-left: 12px;
    color: #C69C6D;
    font-size: 18px;
    font-weight: bold;
}

.descricao{
    display: block;
    margin-top: 10px;
}

button{
    margin-top: auto;
    background-color: #8B572A;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #C69C6D;
}

details{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

summary{
    cursor: pointer;
    font-weight: bold;
    color: #8B572A;
}

meter{
    width: 250px;
    display: block;
    margin: 20px auto;
}

.oculto{
    display: none;
}

.satisfacao{
    width: 250px;
    margin: 30px auto;
    text-align: center;
}

.satisfacao h3{
    margin-bottom: 10px;
}

meter{
    width: 250px;
    height: 25px;
}

.titulo{
    font-size: 22px;
    font-weight: bold;
    color: #8B572A;
    
}

footer{
    background-color: #8B572A;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p{
    margin: 5px;
}

.login{
    background-color: white;
    color: #8B572A;
    border: none;
    padding: 10px 102px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login:hover{
    background-color: #F3D7B6;
}

.menu-direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}